@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #111111;
    margin: 0 45px;
    height: 100vh;
}

.header-contact img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/*?============= HEADER ============= */
#header {
    margin: auto;
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

#header .header-title p {
    border-left: 2px solid #8400ff;
    padding-left: 5px;
}

#header .header-title a {
    text-decoration: none;
    color: #111111;
    transition: 0.1s ease-in-out;
}

#header .header-title a:hover {
    color: #8400ff;
}

#header .header-btn ul {
    display: flex;
    list-style: none;
    gap: 45px;
}

#header .header-btn ul a {
    font-size: 17px;
    text-decoration: none;
    color: #111111;
    transition: 0.1s ease-in-out;
}

#header .header-btn ul li:nth-child(1) a {
    transition: 0.1s ease-in-out;
    color: #8400ff;
    border-bottom: 2px solid black;
}

#header .header-btn ul a:hover {
    color: #8400ff;
    border-bottom: 2px solid black;
}

#header .header-contact ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

#header .header-contact ul li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}

/*?============= MAIN ============= */

#main .main-content .buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

@keyframes pointing {

    0%,
    100% {
        transform: translateX(0) rotate(-90deg);
    }

    50% {
        transform: translateX(20px) rotate(-90deg);
    }
}

#main .main-content .arrow {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    object-fit: cover;
    animation: pointing 2s ease-in-out infinite;
}

#main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main>.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

#main>.main-container>nav {
    padding: 0;
    margin: 0;
}

#main>.main-container>nav>h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

#main .main-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

#main .main-heading h1 {
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #111111;
    line-height: 35px;
}

#main .main-heading p {
    text-transform: capitalize;
    font-size: 17px;
    color: #111111;
    line-height: 20px;
    margin: 9px 0;
}

#main .main-content {
    margin-top: 30px;
}

#main .main-heading p span {
    color: #8400ff;
}

#main .main-heading img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

#main .main-content .btns {
    width: 110px;
    font-size: 14px;
    padding: 9px 0;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
}

#main .main-content .line {
    display: block;
    height: 3px;
    width: 30%;
    margin: 15px 0;
    background-color: #8400ff;
    border: none;
    border-radius: 10px;
}

#main .main-content .main-right-btn {
    border: none;
    background-color: #8400ff;
    color: #f4f4f4;
    margin-left: 8px;
}

#main .main-content .main-right-btn>a {
    text-decoration: none;
    color: #f4f4f4;
}

#main .main-content .main-right-btn>a:hover {
    color: #000000;
}

#main .main-content .main-left-btn:hover {
    background-color: #f4f4f4;
    color: #8400ff;
    border: 2px solid #8400ff;
    cursor: pointer;
}

#main .main-content .main-right-btn:hover {
    border: 2px solid #111111;
    background-color: #f4f4f4;
    color: #111111;
    cursor: pointer;
}

#main>.main-container>.main-heading>.main-picture>img {
    background-color: #8400ff;
    border: none;
    /* border-top-right-radius: 100px;
    border-bottom-left-radius: 100px; */
    border: 1px dotted black;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    height: 300px;
    width: auto;
    animation: lifting 4s ease-in-out infinite;
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.2);
}

@keyframes lifting {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

/*!=========== SUBHEADING ============*/

#main .main-container .sub-heading img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/* #main .main-container .sub-heading .left-side img {
} */

#main .main-container .sub-heading .left-side img {
    margin-bottom: 0.5rem;
}

#main .main-container .sub-heading .left-side p {
    font-size: 14px;
    color: #111111;
}

#main .main-container .sub-heading .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

#main .main-container .sub-heading .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

#main .main-container .sub-heading .right-side h1 {
    color: #8400ff;
}

#main .main-container .sub-heading .right-side img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    transform: rotate(90deg);
    margin-bottom: 5px;
}

#main .main-container .sub-heading {
    display: flex;
    justify-content: space-between;
    margin: 5rem 0 2rem;
    gap: 1rem;
}

#main .main-container .sub-heading .projects,
.certificates,
.experience {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 1px rgba(135, 0, 255, 0.4);
    padding: 1rem;
    border-radius: 7px;
}

#main .main-container .sub-heading .projects:hover,
.certificates:hover,
.experience:hover {
    animation: wobble-ver-left 0.8s both;
}

@keyframes wobble-ver-left {

    0%,
    100% {
        transform: translateY(0) rotate(0);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateY(-30px) rotate(-6deg);
    }

    30% {
        transform: translateY(15px) rotate(6deg);
    }

    45% {
        transform: translateY(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateY(9px) rotate(2.4deg);
    }

    75% {
        transform: translateY(-6px) rotate(-1.2deg);
    }
}

/* ? ANIMATION OF CARDS */